body{
background-color: ;

}

h1{

}

p{

}

.nav{

}
.nav li{

}

.profile-image{

}

.HOME{

}
.HOME p{

}


.PORTFOLIO-AREA{

}
.PORTFOLIO-AREA h1{

}
.PORTFOLIO-AREA img{

}
.PORTFOLIO-AREA h2{

}
.PORTFOLIO-AREA p{

}


.CONTACT-AREA{

}


@media screen and (min-width: 320px) {

  p{
    font-family: 'Assistant', sans-serif;
  }

header{

}

  .HOME{
    background-color: whitesmoke;
    width: 100%;
    height: auto;
  }
  .name{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    color: black;
  }

  .nav{
    display: block;
  }
  .nav li{
    margin: 0px 40px 5px 0px;
    padding: 0px 20px;
    text-align: center;
    list-style: none;
    background-color: white;
  }

  .profile-image{
    width: 100%;
    height: auto;
    background-color: red;
    padding: 0px 0px;
  }

  .HOME p{
    text-align: center;
    font-size: 15px;
    padding: 0px 0px 30px 0px;
  }



.PORTFOLIO-AREA{
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  width: 100%;
}
.PORTFOLIO-AREA h5{
  display: block;
  text-align: center;
  margin: 0px 0px 0px 0px;
  padding: 40px 0px 40px 0px;
}
.portfolio-img{
  display: block;
  margin: auto;
  width: 95%;
  height: auto;
}
.PORTFOLIO-AREA h3{
  text-align: center;
}
.PORTFOLIO-AREA p{
  text-align: center;
  margin-bottom: 40px;
}


.CONTACT-AREA{
  margin: 20px 0px 0px 0px;
  padding: 20px 0px 0px 0px;
  background-color: whitesmoke;
}
.CONTACT-AREA h5{
  margin: auto;
  display: block;
  text-align: center;
  margin: 0px 0px 0px 0px;
  padding: 20px 0px 0px 0px;
}
.CONTACT-AREA p{
  font-size: 15px;
  text-align: center;
  padding: 10px;
}
.contacts{
  width: 100%;
  height: auto;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
.contacts li{
  list-style: none;
  font-size: 15px;
  display: inline-block;
  /*padding: 38px;*/
  padding: 10px 38px;
}
.info{
  margin-top: 0px;
}
.info li{
  list-style: none;
  text-align: center;
  padding-bottom: 40px;
}
.CONTACT-AREA h4, h5{
  display: inline-block;
}


footer{
  width: 100%;
  height: auto;
  background-color: whitesmoke;
}


}

@media screen and (min-width: 768px){


header{
  background-color: whitesmoke;
}

.HOME{
  width: 100%;
  height: auto;
}
.HOME h1{
  text-align: center;
}
.nav{
  list-style: none;
  text-align: center;
  margin: 0px;
  padding: 0px;
}
.nav li{
  display: inline-block;
  font-size: 12px;
  padding: 20px;
  margin:;
}
.HOME img{
  float: right;
  width: 38%;
  height: auto;
}
.HOME p{
  width: 60%;
  height: auto;
  padding: 5px;
}


.PORTFOLIO-AREA{
  width: 100%;
  height: auto;
}
.PORTFOLIO-AREA h5{
  font-size: 12px;
  text-align: center;
}
.portfolio-img{
  display: inline-block;
  width: 45%;
}
.PORTFOLIO-AREA h3{
  text-align: left;
  font-size: 20px;
}
.PORTFOLIO-AREA p{
  font-size: 15px;
  width: 45%;
}




}


@media screen and (min-width: 1024){

}
