body{
background-color: ;

}

h1{

}

p{
  font-family: 'Assistant', sans-serif;
}

.nav{

}
.nav li{

}

.profile-image{
  width: 100px;
  height: 100px;
}

.HOME{

}
.HOME p{

}


.PORTFOLIO-AREA{
  border: 2px solid red;

}
.PORTFOLIO-AREA h1{

}
.PORTFOLIO-AREA img{

}
.PORTFOLIO-AREA h2{

}
.PORTFOLIO-AREA p{

}


.CONTACT-AREA{
  border: 2px solid black;
}


@media screen and (max-width: 320px) {

header{

}

.HOME{
  background-color: whitesmoke;
}
.HOME p{
  text-align: center;
  padding: 0px 0px 30px 0px;
}

  .name{
    margin: 0px 0px 0px 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    color: black;
  }

  .nav{
    display: block;
  }
  .nav ul{
    padding-bottom: 0px;
  }
  .nav li{
    margin: 0px 40px 5px 0px;
    padding: 5px 10px;
    text-align: center;
    list-style: none;
    background-color: white;
  }
  .nav li:hover{

  }

  .profile-image{
    display: block;
    margin: auto;
    padding: 0px 0px;
    width: 60%;
    height: auto;
    background-color: red;
  }


.PORTFOLIO-AREA{
  border: 2px solid black;
}
.PORTFOLIO-AREA h3{
  text-align: center;
}
.PORTFOLIO-AREA portfolio img{
  display: block;
  margin: auto;
  width: 60%;
  height: auto;
}

}
