body{

}

h1{

}

p{

}

.nav{
  margin-top: 1.5em;
}
.nav li{

}
.nav a {
  display: block;
  color: #797e83;
  font-size: 1.125em;
  font-weight: 300;
  text-align: center;
  padding: .4em;
  border-bottom: 1px solid #ebecec;
}
.nav a:hover{
  color: #0b0b0b;
  border-bottom-color: #52bab3;
}


.profile-image{
  width: 110px;
}

.HOME,
.nav {
  display: flex;
  flex-direction: column;
}
.HOME{
  padding-top: 2em;
}
.HOME h1 {
  width: 110px;
  align-self: center;
}
.HOME p{

}


.PORTFOLIO-AREA{

}
.PORTFOLIO-AREA h1{

}
.PORTFOLIO-AREA img{

}
.PORTFOLIO-AREA h2{

}
.PORTFOLIO-AREA p{

}


.CONTACT-AREA{

}


@media screen and (min-width: 320px) {

  p{
    font-family: 'Assistant', sans-serif;
  }

header{

}

  .HOME{
    background-color: whitesmoke;
    width: 100%;
    height: auto;
  }
  .name{
    font-family: philosopher, sans-serif;
    font-size: 28px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    color: black;
  }

  .nav{
    display: block;
  }
  .nav li{
    margin: 0px 40px 5px 0px;
    padding: 0px 20px;
    text-align: center;
    list-style: none;
  }
  .nav a{
    text-decoration: none;
    color: black;
  }

  .profile-image{
    width: 100%;
    height: auto;
    background-color: red;
    padding: 0px 0px;
  }

  .HOME p{
    text-align: center;
    font-size: 15px;
    padding: 0px 0px 30px 0px;
  }



.PORTFOLIO-AREA{
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  width: 100%;
}
.PORTFOLIO-AREA h5{
  display: block;
  text-align: center;
  margin: 0px 0px 0px 0px;
  padding: 40px 0px 40px 0px;
}
.portfolio-img{
  display: block;
  margin: auto;
  width: 95%;
  height: auto;
}
.PORTFOLIO-AREA h3{
  text-align: center;
}
.PORTFOLIO-AREA p{
  text-align: center;
  margin-bottom: 40px;
}


.CONTACT-AREA{
  margin: 20px 0px 0px 0px;
  padding: 20px 0px 0px 0px;
  background-color: whitesmoke;
}
.CONTACT-AREA h5{
  margin: auto;
  display: block;
  text-align: center;
  margin: 0px 0px 0px 0px;
  padding: 20px 0px 0px 0px;
}
.CONTACT-AREA p{
  font-size: 15px;
  text-align: center;
  padding: 10px;
}
.contacts{
  width: 100%;
  height: auto;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
.contacts li{
  list-style: none;
  font-size: 15px;
  display: inline-block;
  /*padding: 38px;*/
  padding: 10px 38px;
}
.info{
  margin-top: 0px;
}
.info li{
  list-style: none;
  text-align: center;
  padding-bottom: 40px;
}
.CONTACT-AREA h4, h5{
  display: inline-block;
}

.contacts-2{
  display: none;
}

footer{
  width: 100%;
  height: auto;
  background-color: whitesmoke;
}


}



@media screen and (min-width: 768px){


.HOME{
  justify-content: flex-end;
  width: 100%;
  height: 200px;/* 340px */
  padding-bottom: 0px
}
.HOME h1{
  width: 130px;
  text-align: center;
  color: black;
  font-family: "bebas neue", sans-serif;
}
.nav{
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  text-align: center;
  margin-top: 2em;/* margin  0px*/
  padding: 0px;
}
.nav li{
  display: inline-block;
  margin: auto;
  font-family: "bebas-neue", sans-serif;
  font-size: 12px;
  padding: 20px;
}
.nav a{
  border-bottom-color: transparent;
  text-decoration: none;
}
.profile-image{
  display: ;
  float: right;
  width: 38.5%;
  height: 124px;
  margin-bottom: 20px;

}
 .para{
  font-size: 20px;
  width: 58%;
  height: auto;
  text-align: left;
  background-color: whitesmoke;
  margin: 0px 0px;
  padding: 10px 17px 10px 10px;
}


.PORTFOLIO-AREA{
  width: 100%;
  height: auto;
}
.PORTFOLIO-AREA:after{
  content: "";
  display: table;
  clear: both;
}
.item {
  float: left;
  width: 49.5%;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 50px 0px;
  height: 300px;
}
.PORTFOLIO-AREA h5{
  font-family: "bebas neue", sans-serif;
  font-size: 12px;
  text-align: center;
}
.portfolio-img{
  display: block;
  width: 98%;
}
.PORTFOLIO-AREA h3{
  text-align: center;
  font-size: 20px;
}
.PORTFOLIO-AREA p{
  font-size: 15px;
  text-align: center;
}

footer {
  background-color: whitesmoke;
}
.CONTACT-AREA h5{
  font-family: "bebas neue", sans-serif;
  font-size: 12px;
  margin: 0px 0px 0px 0px;
  padding: 20px 0px 0px 0px;
}
.CONTACT-AREA P{
  margin: auto;
  font-size: 17px;
  padding: 20px 0px 20px 0px;
  width: 60%;
}
.info li{
  font-size: 19px;
  margin: 10px 0px 55px 0px;
  padding: 0px 0px 0px 0px;
}

.contacts{
  display: none;
  /**width: 100%;
  height: auto;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 50px 0px;
  **/
}
.contacts li{
  display: none;
  /**border: 1px solid red;
  list-style: none;
  font-size: 15px;
  display: inline-block;
  padding: 10px 148px;
  **/
}

.contacts-2{
  display: flex;
  padding-bottom: 50px;
}
.contacts-2 h3{
  font-size: 16px;
}
.contacts-2 ul{
  margin-left: 530px;
  display: flex;
  justify-content:space-around;
  padding: 0px 0px 0px 0px;
}
.contacts-2 li{
  list-style: none;
  font-size: 15px;
  padding: 5px;
}
.contacts-2 a{
  text-decoration: none;
  color: black;
}

}


@media screen and (min-width: 1024px){

  .HOME{
    background-color: whitesmoke;
    flex-direction: row;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
  }
  .HOME h1{
    margin-right: auto;
  }
  .nav {
    margin-top: 0;
    align-self: center;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
  }
  .nav li{
    margin-left: .65em;
    margin-right: .65em;
  }
  .nav a{

  }

  .profile-image{
    width: 38%;
    height: 170px;
  }

  .para{
    font-size: 20px
    margin: 0px 0px 0px 0px;
    padding: 0px 50px 92px 0px;
  }

  .PORTFOLIO-AREA{
    border: 2px solid red;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    padding-top: 100px;
  }

  .PORTFOLIO-AREA h5{
    border: 1px solid red;
    font-size: 15px;
    text-align: center;
    color: black;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px;
    height: 50px;
  }

  .item{
    border: 1px solid brown;
    flex-direction: column;
    flex: 25%;
    width: ;
    margin: ;
    height: 300px;
  }

}
